DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=pos_papelera

JWT_SECRET=tu_clave_secreta_muy_larga_y_segura
JWT_EXPIRES_IN=8h
ADMIN_JWT_SECRET=clave_distinta_para_superadmin

PORT=3001
NODE_ENV=development
